@model List<EmployeePayroll.Models.Paystub>
@{
    ViewBag.Title = "View Paystubs";
}

<style>
    .text-align-right {
        text-align: right;
        border-top: 2px solid black;        
    }
</style>

<section>
    <h2>View Paystubs</h2>

    <div class="form-inline">
        @if (Model.Count() != 0)
        {

            <label for="select">Select a pay period: </label>
            <select id="select" class="form-control col-6 ml-2" style="width: 75%;">
                <option selected disabled>Select Pay Period</option>
                @foreach (var stub in Model)
                {
                    <option value="@stub.PaystubID">@stub.StartDate - @stub.EndDate</option>
                }
            </select>
        }
        else
        {
            <span>You have no Paystubs to view yet</span>
        }
    </div>
    <div id="results" class="mt-4">
        @*placeholder for paystub results*@
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // call the method to get paystub info on dropdown change
        $("#select").on("change", function () {
            var paystubID = $(this).val();
            $.ajax({
                url: '@Url.Action("_PaystubInfo", "Employee")',
                data: { paystubID },
                success: function (data) {
                    // populate results div with data received from controller
                    $("#results").html(data);
                }
            })
        });
    });
</script>